# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
venv/
env/
.env

# Base de datos
*.db
*.sqlite3

# Logs
*.log
logs/

# Node / Astro
node_modules/
dist/
.astro/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Pytest / Coverage
.pytest_cache/
htmlcov/
.coverage

# Producción
*.key
*.pem
